@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .flex {
    flex-direction: column;
  }
}
